---
layout: archive
title: "Talks and Poster Presentations"
permalink: /talks/
author_profile: true
---

<!-- {% if site.talkmap_link == true %}

<p style="text-decoration:underline;"><a href="/talkmap.html">See a map of all the places I've given a talk!</a></p>

{% endif %}

{% for post in site.talks reversed %}
  {% include archive-single-talk.html %}
{% endfor %} -->

<ul>
  <li>Data-driven sample average approximation with covariate information
<ul>
  <li>INFORMS 2020 Annual Meeting. <b>Invited</b> Session: Data, Statistics and Learning in Energy System Optimization <a href = "https://rohitkannan.github.io/presentations/Kannan_INFORMS20_DDSAA.pdf" target="_blank">[Slides]</a></li>
  <li>Argonne National Laboratory, September 2020 <a href = "https://rohitkannan.github.io/presentations/Kannan_Argonne_September_2020.pdf" target="_blank">[Slides]</a></li>
  <li>WID 2020 Annual Symposium, UW-Madison</li>
  <li>Los Alamos National Laboratory, July 2020</li>
  <li>IPAM 2020 Workshop on Intersections between Control, Learning and Optimization (<b>Invited</b>) <a href = "https://rohitkannan.github.io/presentations/Kannan_IPAM20_Presentation.pdf" target="_blank">[Slides]</a> <a href = "https://rohitkannan.github.io/presentations/Kannan_IPAM20_DDSAA.pdf" target="_blank">[Poster]</a></li>
</ul> 
 </li>   
  
  <li>Stochastic DC optimal power flow with reserve saturation
<ul>
  <li>INFORMS 2020 Annual Meeting. <b>Invited</b> Session: Optimization in Energy Systems under Uncertainty <a href = "https://rohitkannan.github.io/presentations/Kannan_INFORMS20_SDCOPF.pdf" target="_blank">[Slides]</a></li>
</ul> 
 </li>   

    <li>Stochastic approximation for chance-constrained nonlinear programs
<ul>
  <li>AIChE 2019 Annual Meeting. Interactive Session: Systems and Process Operations</li>
  <li>2019 Computing in Engineering Forum, UW-Madison</li>
  <li>ICERM 2019 Workshop Optimization of Systems Impacted by Rare, High-Impact Random Events <a href = "https://rohitkannan.github.io/presentations/Kannan_ICERM19_SAforCCP.pdf" target="_blank">[Poster]</a></li>
  <li>WID 2019 Annual Symposium, UW-Madison</li>
  <li>MACSER Optimization Under Uncertainty Meeting, December 2018 <a href = "https://rohitkannan.github.io/presentations/Kannan_MACSER18_SAforCCP.pdf" target="_blank">[Slides]</a></li>
</ul> 
      </li>
  
  <li>Optimization of chemical process systems under uncertainty
  <ul>
  <li>ExxonMobil Research and Engineering, Clinton NJ, December 2017 </li>
  <li>Lawrence Berkeley National Lab, Berkeley, CA, November 2017 <a href = "https://rohitkannan.github.io/presentations/Kannan_LBNL17.pdf" target="_blank">[Slides]</a></li>
  <li>Rockwell Automation R&D, Austin TX, March 2017</li>
  </ul>
    </li>

<li>GOSSIP: decomposition software for the Global Optimization of nonconvex two-Stage Stochastic mixed-Integer nonlinear Programs
  <ul>
    <li>INFORMS 2018 Annual Meeting. <b>Invited</b> Session: Computational Stochastic Programming <a href = "https://rohitkannan.github.io/presentations/Kannan_INFORMS18_GOSSIP.pdf" target="_blank">[Slides]</a></li>
    <li>AIChE 2016 Annual Meeting. CAST Division <b>Plenary</b></li>
  <li>AIChE 2015 Annual Meeting. Session: Software Tools and Implementations for PSE</li>
  </ul>
  </li>

<li>The cluster problem in constrained global optimization
  <ul>
  <li>AIChE 2016 Annual Meeting. Session: Advances in Optimization I <a href = "https://rohitkannan.github.io/presentations/Kannan_AIChE16_ClusterProblem.pdf" target="_blank">[Slides]</a></li>
  <li>Global Optimization Workshop, 2016</li>
  </ul>
</li>
  
  
<li>Convergence-order analysis of lower bounding schemes for constrained global optimization problems
  <ul>
    <li>ICCOPT 2016. <b>Invited</b> Session: Advances in Deterministic Global Optimization I <a href = "https://rohitkannan.github.io/presentations/Kannan_ICCOPT16_ConvergenceOrder.pdf" target="_blank">[Slides]</a></li>
  <li>AIChE 2015 Annual Meeting. Session: Advances in Optimization I</li>
  </ul> 
  </li>

<li>A decomposition algorithm for two-stage stochastic mixed-integer nonconvex programs
  <ul>
<!--     <li>ISMP 2015. Session: Advances in Global Optimisation</li> -->
    <li>AIChE 2014 Annual Meeting. Session: Design and Operations Under Uncertainty II <a href = "https://rohitkannan.github.io/presentations/Kannan_AIChE14_MLR.pdf" target="_blank">[Slides]</a></li>
    <li>INFORMS 2014 Annual Meeting. <b>Invited</b> Session: Chance, Inference and Robustness</li>
  </ul>  
  </li> 
  
  
  
  </ul>
