---
layout: archive
title: "Teaching"
permalink: /teaching/
author_profile: true
---

<!-- {% include base_path %}

{% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %} -->

<ul>
  <li>Teaching Assistant for the graduate <i>Chemical Reactor Engineering</i> course at MIT, 2015 (50 students)</li>

<li>Math Olympiad Trainer at SMART, Chennai, India, 2008 to 2011 (30 students)</li>

<li>Math Lecturer for the IIT Joint Entrance Exam (IIT JEE). Video lectures featured on <a href = "https://ocw.mit.edu/high-school/iit-jee/exam-prep/" target="_blank">MIT OpenCourseWare</a></li>
</ul>

<div style = "float:left;margin-right:20px;display:inline-block;clear:both">
<iframe style="width: 350px; height: 200px;" src="https://www.youtube.com/embed/videoseries?list=PLovYBGVz5HIjTS1jE-plQz3yvF5OOvFbM" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen align = "left"></iframe>
</div>
<div style = "float:left;margin-right:20px;display:inline-block;clear:both">
<iframe style="width: 350px; height: 200px;" src="https://www.youtube.com/embed/videoseries?list=PLovYBGVz5HIjs7EJfU7nn8YOhEbF51aFf" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen align = "left"></iframe>
</div>
