---
layout: archive
title: "Teaching"
permalink: /teaching/
author_profile: true
---
<html>
<head>
  <style>
div{
  padding-top: 20.082%;
  width: 400px
  float:left
  postion: relative
  display: inline-block; 
  height:275px
  
  }
  </style>
  
</head>
<!-- {% include base_path %}

{% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %} -->
<body>
<ul>
  <li>Teaching Assistant for the graduate <i>Chemical Reactor Engineering</i> course at MIT, 2015 (50 students)</li>

<li>Math Olympiad Trainer at SMART, Chennai, India, 2008 to 2011 (30 students)</li>

<li>Math Lecturer for the IIT Joint Entrance Exam (IIT JEE). Video lectures featured on <a href = "https://ocw.mit.edu/high-school/iit-jee/exam-prep/" target="_blank">MIT OpenCourseWare</a></li>
</ul>
<div class = "frame-player" style="width: 400px; display: inline-block">
<iframe style="width: 350px; height: 200px;" src="https://www.youtube.com/embed/videoseries?list=PLovYBGVz5HIjTS1jE-plQz3yvF5OOvFbM" allowfullscreen frameborder="0" scrolling="yes"                           
                                    style="overflow: hidden; height: 100%; 
                                                width: 49%; float: left; " height="100%" width="49%"
                                   align="left">
                                  </iframe>  
  </div>
  <div class = "frame-player" style="width: 400px; display: inline-block">

 <iframe style="width: 350px; height: 200px;" src="https://www.youtube.com/embed/videoseries?list=PLovYBGVz5HIjs7EJfU7nn8YOhEbF51aFf" allowfullscreen frameborder="0" scrolling="yes"                           
                                    style="overflow: hidden; height: 100%; 
                                                width: 49%; float: left; " height="100%" width="49%"
                                   align="left">
                                  </iframe>
  </div>
</body>
  </html>
